<div class="grid grid-cols-1 md:grid-cols-3 gap-8">
  <div :for={book <- @books} class="m-5 transition-transform duration-400 hover:scale-105">
    <.link navigate={~p"/accounts/register"}>
      <img src={book.cover_image_url} class="h-96 drop-shadow-lg rounded-lg" />
      <div class="text-2xl font-bold font-serif mt-2"><%= book.title %></div>
      <div class="text-sm text-gray-500 font-sans mt-1"><%= book.author.name %></div>
    </.link>
  </div>
</div>
